/*https://colorhunt.co/palette/22283131363f76abaeeeeeee*/
.homeContainer {
    color: #222831;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.playerCardContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.headerTitle {
    cursor: pointer;
}

.headerContainer {
    display: flex;
    gap: 10px;
    justify-content: center;
}

body {
    background-color: #eeeeee;
}

ul {
    list-style-type: none;
}
